<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/crediCardsFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Librerias Clasicas

#Basicos
import pandas as pd
import numpy as np

#Chart
import matplotlib.pyplot as plt
import seaborn as sb

#Preprocesso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#Reporte
from sklearn.metrics import classification_report
import missingno as mssno
#from pivottablejs import pivot_ui
from IPython.display import HTML


#Optimizador hiperparametro
from sklearn.model_selection import GridSearchCV

#Modelos
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsOneClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.cluster import KMeans

#DataDefault
#from sklearn.datasets import load_iris


#Widgets
from ipywidgets import interact, interactive, fixed, interact_manual,IntSlider
import ipywidgets as widgets

#other
from termcolor import colored
from google.colab import output
import warnings

#apagamos los warnings, antes de generar el entregable o mejor no.
#warnings.filterwarnings('ignore')

In [ ]:
creditCards_df=pd.read_csv("/content/drive/MyDrive/Coding Dojo/creditCards/creditcard.csv")
creditCards_df.head(5)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
creditCards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39702 entries, 0 to 39701
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    39702 non-null  int64
 1   V1      39702 non-null  float64
 2   V2      39702 non-null  float64
 3   V3      39702 non-null  float64
 4   V4      39702 non-null  float64
 5   V5      39702 non-null  float64
 6   V6      39702 non-null  float64
 7   V7      39702 non-null  float64
 8   V8      39702 non-null  float64
 9   V9      39702 non-null  float64
 10  V10     39702 non-null  float64
 11  V11     39702 non-null  float64
 12  V12     39702 non-null  float64
 13  V13     39701 non-null  float64
 14  V14     39701 non-null  float64
 15  V15     39701 non-null  float64
 16  V16     39701 non-null  float64
 17  V17     39701 non-null  float64
 18  V18     39701 non-null  float64
 19  V19     39701 non-null  float64
 20  V20     39701 non-null  float64
 21  V21     39701 non-null  float64
 22  V22     39701 non-null  float64
 23  V23     39701 non-null  float64
 24  V24     39701 non-null  float64
 25  V25     39701 non-null  float64
 26  V26     39701 non-null  float64
 27  V27     39701 non-null  float64
 28  V28     39701 non-null  float64
 29  Amount  39701 non-null  float64
 30  Class   39701 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.4 MB

In [ ]:
creditCards_df.dropna(axis=0,inplace=True)
creditCards_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39701 entries, 0 to 39700
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    39701 non-null  int64
 1   V1      39701 non-null  float64
 2   V2      39701 non-null  float64
 3   V3      39701 non-null  float64
 4   V4      39701 non-null  float64
 5   V5      39701 non-null  float64
 6   V6      39701 non-null  float64
 7   V7      39701 non-null  float64
 8   V8      39701 non-null  float64
 9   V9      39701 non-null  float64
 10  V10     39701 non-null  float64
 11  V11     39701 non-null  float64
 12  V12     39701 non-null  float64
 13  V13     39701 non-null  float64
 14  V14     39701 non-null  float64
 15  V15     39701 non-null  float64
 16  V16     39701 non-null  float64
 17  V17     39701 non-null  float64
 18  V18     39701 non-null  float64
 19  V19     39701 non-null  float64
 20  V20     39701 non-null  float64
 21  V21     39701 non-null  float64
 22  V22     39701 non-null  float64
 23  V23     39701 non-null  float64
 24  V24     39701 non-null  float64
 25  V25     39701 non-null  float64
 26  V26     39701 non-null  float64
 27  V27     39701 non-null  float64
 28  V28     39701 non-null  float64
 29  Amount  39701 non-null  float64
 30  Class   39701 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.7 MB