<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/gdpPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Alumno : Valentin Gracia
Data Science G1

In [26]:
import pandas as pd
gdp_df=pd.read_csv("/content/drive/MyDrive/Coding Dojo/Semana2/GDP.csv",skiprows=3)
#print(gdp_df.head())
gdp_df.info()
#gdp_df.dropna(inplace=True)
#gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            133 non-null    float64
 5   1961            133 non-null    float64
 6   1962            135 non-null    float64
 7   1963            135 non-null    float64
 8   1964            135 non-null    float64
 9   1965            145 non-null    float64
 10  1966            146 non-null    float64
 11  1967            149 non-null    float64
 12  1968            153 non-null    float64
 13  1969            153 non-null    float64
 14  1970            162 non-null    float64
 15  1971            163 non-null    float64
 16  1972            163 non-null    float64
 17  1973            163 non-null    float64
 18  1974            164 non-null    float64
 19  1975            168 non-null    float64
 20  1976            169 non-null    float64
 21  1977            173 non-null    float64
 22  1978            172 non-null    float64
 23  1979            173 non-null    float64
 24  1980            185 non-null    float64
 25  1981            188 non-null    float64
 26  1982            189 non-null    float64
 27  1983            190 non-null    float64
 28  1984            191 non-null    float64
 29  1985            193 non-null    float64
 30  1986            195 non-null    float64
 31  1987            199 non-null    float64
 32  1988            201 non-null    float64
 33  1989            205 non-null    float64
 34  1990            221 non-null    float64
 35  1991            221 non-null    float64
 36  1992            222 non-null    float64
 37  1993            226 non-null    float64
 38  1994            228 non-null    float64
 39  1995            236 non-null    float64
 40  1996            237 non-null    float64
 41  1997            236 non-null    float64
 42  1998            238 non-null    float64
 43  1999            239 non-null    float64
 44  2000            245 non-null    float64
 45  2001            245 non-null    float64
 46  2002            249 non-null    float64
 47  2003            249 non-null    float64
 48  2004            250 non-null    float64
 49  2005            250 non-null    float64
 50  2006            251 non-null    float64
 51  2007            251 non-null    float64
 52  2008            249 non-null    float64
 53  2009            249 non-null    float64
 54  2010            249 non-null    float64
 55  2011            250 non-null    float64
 56  2012            247 non-null    float64
 57  2013            248 non-null    float64
 58  2014            247 non-null    float64
 59  2015            246 non-null    float64
 60  2016            241 non-null    float64
 61  2017            234 non-null    float64
 62  Unnamed: 62     0 non-null      float64
dtypes: float64(59), object(4)
memory usage: 130.1+ KB

In [27]:
gdp_df.groupby(["Country Name","Country Code"])["1960","1961","1962","1963","1964","1965","1966","1967","1968"].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                         1960  ...          1968
Country Name       Country Code                ...
Afghanistan        AFG           5.377778e+08  ...  1.373333e+09
Albania            ALB                    NaN  ...           NaN
Algeria            DZA           2.723649e+09  ...  3.852116e+09
American Samoa     ASM                    NaN  ...           NaN
Andorra            AND                    NaN  ...           NaN
...                                       ...  ...           ...
West Bank and Gaza PSE                    NaN  ...           NaN
World              WLD           1.365887e+12  ...  2.441774e+12
Yemen, Rep.        YEM                    NaN  ...           NaN
Zambia             ZMB           7.130000e+08  ...  1.605857e+09
Zimbabwe           ZWE           1.052990e+09  ...  1.479600e+09

[264 rows x 9 columns]