<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/practicaCargadoFiltrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alumno: Valentin Gracia
**Data Science Coding Dojo G1**

Montamos el drive junto con el dataframe

In [1]:
from google.colab import drive
#drive.mount('/content/drive')

import pandas as pd

filename = '/content/drive/MyDrive/Coding Dojo/Semana2/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(filename)
print(bike_df.head())
print(bike_df.columns)
#bike_df.info

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]
Index(['Timeframe', 'Week of', ' 2019 counts (31 counters)',
       ' 2020 counts (31 counters)', '2021 Counts', 'Change 2019-2020',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

Filtramos para registros con columna week of posteriores a "2020-08-31"

In [2]:
bike_df.loc[bike_df["Week of"]>"2020-08-31"]

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[17 rows x 10 columns]

Filtramos para registros con columna "Change 2019-2020" superior a 100%

In [3]:
bike_df[bike_df["Change 2019-2020"]>1]

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

Ahora ambos filtros anteriores, es decir col "week of" posterior a 31 de Julio de 2020 y que columna "Change 2019-2020" sea mayor a 100%

In [9]:
bike_df=bike_df[(bike_df["Change 2019-2020"]>0.5) & (bike_df["Week of"]>"2020-07-31")]      
bike_df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
34   Week 35 2020-08-24  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN

[2 rows x 10 columns]